.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: calc(100vh - 84px);
  padding: 40px;
  gap: 64px;
  font-family: var(--font-geist-sans);
  box-sizing: border-box;
}

.themeDark {
  filter: invert(1);
  color: #fff;
}

.pageInner {
  min-height: calc(100vh - 80px);
}

.main {
  padding-top: 66px;
  box-sizing: border-box;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--black);
  color: #fff;
  padding-block: 20px;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerRight {
  display: flex;
  gap: 10px;
}

.navbar {
  background-color: var(--black);
  color: #fff;
  padding: 20px;
}


.container {
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 20px;
}

.navList {
  list-style: none;
  display: flex;
  gap: 10px;
}


.purpleColor {
  color: #ff156d;
}

.h1 {
  margin-bottom: 20px;
}

.productItem {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productItemImg {
  max-width: 100%;
  height: auto;
}

.gridSidebar {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-row-start: 2;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.filterItem {
  padding: 5px;
}

.mb20 {
  margin-bottom: 20px;
}

.catalogList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
}

.catalogLisItemBtn {
  padding: 10px;
  border: #ff156d;
}

.catalogListItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  padding-top: 0;
  border: 1px solid rgb(173, 173, 173);

  &:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}

.catalogListImgWrap {
  display: block;
  height: 300px;
  margin-inline: -10px;
}

.catalogListImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalogListItemTitle {
  font-size: 20px;
}

.catalogListItemBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.catalogTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.passangerList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.passanger {
  width: 100%;
  height: 400px;
}